.aspect-ratio-shortcuts-container {
  margin-top: 0.6em;

  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);

  /* border between shortcut buttons */
  background: var(--primary-color);
  gap: 3px;

  border: var(--primary-color) 3px solid;
}