.button-base {
  font-weight: 600;
  padding: 0.8em 1.2em;
  border: 3px solid var(--primary-color);
  white-space: nowrap;
}

.primary-button {
  background: var(--primary-color);
  color: var(--on-primary-color);
}

.secondary-button {
  background: var(--secondary-color);
  color: var(--on-secondary-color);
}
