#app {
  display: grid;
  grid-template-rows: min-content 7fr minmax(300px, 1fr);
  grid-template-columns: 1fr;
  grid-template-areas:
    "title"
    "preview"
    "work-area";

  /* The following add the border */
  gap: var(--border-size);
  background: var(--primary-color);

  height: 100%;
}

#app > * {
  background: var(--background-color);
}

#title {
  grid-area: title;

  font-size: 3.6rem;
  line-height: 4.2rem;
  text-align: center;
  font-family: "Work Sans";
}

#work-area {
  grid-area: work-area;

  overflow: scroll;
}

.work-area-section {
  padding: 0.5em 0.5em 1em 0.5em;
}

.work-area-section ~ .work-area-section {
  border-top: var(--primary-color) solid;
}

.work-area-section-content {
  margin-top: 0.5em;
  padding: 0 2.7em;
}

.work-area-section-content > * {
  margin: auto;
}

#app > #preview {
  grid-area: preview;

  /* this min-height prevents aspect-ratio from changing the minimum size
  
  source:
  https://w3c.github.io/csswg-drafts/css-sizing-4/#aspect-ratio
  */
  min-height: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  /* TODO: adjust dot grid so that it never looks funky. */
  background: linear-gradient(
        90deg,
        var(--background-color) var(--dot-gutter),
        transparent 0
      )
      center,
    linear-gradient(var(--background-color) var(--dot-gutter), transparent 0) center,
    var(--on-background-color);
  background-size: var(--dot-grid-size) var(--dot-grid-size);
}

/* 
since the flex lines stretch equally, we need multiple queries to prevent the work-area/title section from getting too big. Will have to figure those out when I have the fluid text scaling and the content.
*/

/* @media (min-width: 840px) {
  #app {
    flex-wrap: wrap-reverse;
  }

  #preview {
    order: 1;
    flex-basis: 100%;
    min-width: 50%;
  }

  #controls,
  #title {
    width: 410px;
    align-self: flex-start;
  }
} */

/* @media (min-width: 1000) {
  #preview {
    min-width: 60%;
  }
} */

@media (orientation: landscape) {
  #app {
    grid-template-columns: 3fr minmax(340px, 2fr);
    grid-template-rows: min-content 1fr;
    grid-template-areas: 
    "preview title"
    "preview work-area";
  }

  /* Add side borders to phones and tablets */
  @media (pointer: none), (pointer: coarse) {
    #app {
      padding: 0 var(--border-size) 0;
    }
  }
}

@supports (padding: max(0px)) {
  body,
  header,
  footer {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}
