* {
  box-sizing: border-box;
  background-repeat: repeat;
}

:root {
  font-size: 62.5%;

  --dot-diameter: 3px;
  --dot-gutter: 23px;
  --dot-grid-size: calc(var(--dot-gutter) + var(--dot-diameter));
  --dot-color: black;
  --bg-color: white;

  --border-size: 3px;
}

#root {
  height: 100%;
}

body {
  font-family: "Poppins";
  font-size: 1.6rem;
}

h2 {
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-weight: 700;
}

p {
  font-size: 1.7rem;
  line-height: 2.4rem;
  margin-bottom: .7em;
  font-weight: 500;
}

b {
  font-weight: 600;
}

*::selection {
  color: white;
  background-color: #000;
}